<section id="resume" class="resume">
    <div class="container">

        <div class="section-title">
            <h2>Resumen</h2>
            <p>Mira mi Resumen</p>
        </div>

        <div class="row">
            <div class="col-lg-6">
                <h3 class="resume-title">Educación</h3>
                <div class="resume-item">
                    <h4>Tecnicatura Superior en Desarrollo Web y Aplicaciones Digitales</h4>
                    <h5>2022 - En Curso</h5>
                    <p><em>Instituto Superior Politecnico Córdoba</em></p>
                    <p>Qui deserunt veniam. Et sed aliquam labore tempore sed quisquam iusto autem sit. Ea vero
                        voluptatum qui ut dignissimos deleniti nerada porti sand markend</p>
                </div>
                <div class="resume-item">
                    <h4>Tecnicatura Superior en Desarrollo de Software</h4>
                    <h5>2023 - En curso</h5>
                    <p><em>Rochester Institute of Technology, Rochester, NY</em></p>
                    <p>Quia nobis sequi est occaecati aut. Repudiandae et iusto quae reiciendis et quis Eius vel ratione
                        eius unde vitae rerum voluptates asperiores voluptatem Earum molestiae consequatur neque etlon
                        sader mart dila</p>
                </div>
            </div>

            <div class="col-lg-6">
                <h3 class="resume-title">Certificaciones</h3>
                <div class="resume-item">
                    <h4>Front End Developer</h4>
                    <h5>Diciembre 2022 - En Curso</h5>
                    <p><em>Oracle Next Education - Alura Latam </em></p>
                    <p>Habilidades digitales, Arquitectura Web, Git/Github, HTML, CSS, Javascript, Bootstrap</p>
                </div>

                <div class="resume-item">
                    <h4>Front End Developer</h4>
                    <h5>Mayo 2022 - Noviembre 2022</h5>
                    <p><em>Telecom - EducacionIT </em></p>
                    <p>Habilidades digitales, Arquitectura Web, Git/Github, HTML, CSS, Javascript, Bootstrap, React</p>
                </div>
               
                <div class="resume-item">
                    <h4>Desarrollador Full Stack</h4>
                    <h5> Febrero 2022 - Agosto 2022</h5>
                    <p><em>Argentina Programa </em></p>
                    <p>Habilidades digitales, Arquitectura Web, Git/Github, Operadores de búsqueda, SCRUM, Gestión del
                        tiempo, APIs, HTML, CSS, Javascript, Typescript, Bootstrap, Angular, SQL, SPA, MPA, POO, Java,
                        JSP, Spring Boot, DevOps, Seguridad Web, Testing, Deploy</p>
                </div>

            </div>


            <div class="col-lg-6">
                <h3 class="resume-title">Experiencia Laboral</h3>
                <div class="resume-item">
                    <h4>Realizadora Audiovisual</h4>
                    <h5>2019 - Present</h5>
                    <p><em>Allosa Audiovisual - Misiones, Argentina</em></p>
                    <p>
                    </p>
                    <ul>
                        <li>Cobertura audiovisual de eventos</li>
                        <li>Generación de contenido para redes sociales</li>
                        <li>Realización de motion Graphics</li>
                        <li>Montaje de piezas audiovisuales</li>
                    </ul>
                    <p></p>
                </div>
            </div>



        </div>

    </div>
</section>